* {
  all: unset;
  font-size: 18px;
}

.bar {
  background-color: #111111;
  color: #eeeeee;
}

.control-panel-button {
  margin-left: 10px;
  margin-right: 10px;
}

.timespace {
  font-weight: bold;
  margin-left: 10px;
  margin-right: 20px;
}

.infospace {
  margin-left: 10px;
  margin-right: 20px;
}

.textspec {
  margin-left: 3px;
  margin-right: 10px;
}

.metric scale trough highlight {
  all: unset;
  background-color: #D35D6E;
  color: #000000;
  border-radius: 50px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 10px;
  min-width: 100px;
  margin-top: 4px;
  margin-left: 10px;
  margin-right: 0px;
}
