* {
  all: unset;
  font-size: 18px;
}

.bar-widget {
  background-color: rgba(16, 16, 16, 0.3);
  color: #eeeeee;
  border-radius: 20px;
  padding: 0px 50px 0px 50px;
}

.control-panel-button {
  margin-left: 10px;
  margin-right: 10px;
}

.timespace {
  font-weight: bold;
  margin-right: 40px;
}

.infospace {
  margin-right: 40px;
}

.textspec {
  margin-left: 3px;
  margin-right: 10px;
}

.focus-name {
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}

.red-metric trough highlight {
  background-color: #D35D6E;
  border-radius: 5px;
}

.blue-metric trough highlight {
  background-color: #0997B6;
  border-radius: 5px;
}

.metric scale trough {
  background-color: #4e4e4e;
  border-radius: 5px;
  min-height: 10px;
  min-width: 100px;
  margin-top: 4px;
  margin-left: 10px;
  margin-right: 0px;
}
